.heading{
    font-size: 2.5rem;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
}

.card {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card p {
    font-size: 13px;
    margin-top: 8px;
}  
